.container
  #premiumbox{:style => "margin-top:30px;", :class => "mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3"}                    
    .panel.panel-info
      .panel-heading
        %h3{:class => "panel-title"}Sydney Testers Life Insurance
      .panel-body{:style => "padding-top:30px"}
        %form{:id => "premiumform", :class => "form-horizontal", :role => "form"}
		
          %fieldset
		  
          .form-group{:style => "margin-bottom: 25px"}
            %dl.dl-horizontal
              %dt Age
              %dd== #{@quote.age}
              %dt Email
              %dd== #{@quote.email}
              %dt Gender
              %dd== #{@quote.namedGender}
              %dt Occupation category
              %dd== #{@quote.namedOccupationCategory}
              %dt State
              %dd== #{@quote.namedState}
      .panel-footer.clearfix
        .pull-right
          %h3{:class => "panel-title"}== Monthly Premium: $#{@premium}
    	
